# Python / Data (Added to fix push error)
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
*.csv
*xls
*.xlsx

# Documentation specification
docs/*

# Editor directories and files
.vscode/
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Other
*.log
*.pyc

# Testing
.pytest_cache/
*.coverage
htmlcov/

# Cache
cache/